// Globals
$body-font-family: "Work Sans", serif;
$border-radius-root: 6px;
$font-size-root: 14px;

$btn-border-radius: 0rem;
$btn-text-transform: lowercase;

$app-bar-border-radius: 50rem;
$btn-focus-opacity: 0;
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;

// $btn-states: (
//   "states": (
//     "activated": $btn-active-opacity,
//     "focus": $btn-focus-opacity,
//     "hover": $btn-hover-opacity,
//   ),
// );

// Colors
$primary: #333333;
$secondary: #2b2b2b;
$hColor: #0b132a;
$pColor: #4f5665;
$btnColor: #f53838;
// $h1-color: #0b132a;
